  .home-cta {
    padding-top:0;
  }

  /* ARRTILCESs */

.content {
  width: 100%;
  @include breakpoint(tablet){
    max-width: 1140px;
    float: none;
  }
}


.articles {
  figure img { box-shadow: 2px 2px 15px #ccc;}
  .content {
    float:left;
    max-width: none;
    .article {
      width: 100%;
      margin: 1em auto 0;
    @include breakpoint(phablet){
      width: 95%;
      float:none;
    }
    @include breakpoint(laptop){
      max-width: 1140px;
      width: 80%;
    }
    }
  }
    .related-lists {
      width: 100%;
    @include breakpoint(phablet){
      max-width: 1140px;
      margin:2em auto 0;
      float:none;
    }
        .related-content {
    width: 100%;
    margin: 0 0 1em 0;
     @include breakpoint(tablet){
      width: 45%;
      margin: 1.125em 2.5%;
     }
    }
    }

  }


  .article-metadata {
  	background-color: $metadata;
      display:block;
      padding: 0.5em;
  	h1 {font-size: 1.2em;}
  	ul {
  		margin: 0;padding:0;
  		li {list-style-type: none;
  			margin-left:0;
  		}
  	}
  	@include breakpoint(phablet){
  		float:left;
  		width: 40%;
  		margin: 0 1em 0 -2em;
  	}
    @include breakpoint(laptop){
      width: 25%;
      margin: 0 2em 1em -5em;
    }
  }

  .decision-tree {
    width: 100%;
    float:left;
    ul {
      list-style-type: none;
      margin: 1em 0 2em;
      border-bottom: 1px solid $red;
      li {
        line-height: 1.2em;
        padding: 0 0 0.5em 0;
        input {
        box-shadow: none;
        margin-right: 0.5em;
        height: 1.6em;
        }
        label {
          font-size: 0.8em;
        }
      }
    }
    #questions {
      font-size: 1.25em;
            .sq_question_wrapper {

               }

    }
  }

  