  .home-cta {
    padding-top:0;
  }

  /* ARRTILCESs */

  .article-metadata {
  	display:none; //only for now
  	background-color: #dbd7ce;
  	h1 {font-size: 1.2em;}
  	ul {
  		margin: 0;padding:0;
  		li {list-style-type: none;
  			margin-left:0;
  		}
  	}
  	@include breakpoint(phablet){
  		display:block;
  		float:left;
  		width: 25%;
  		margin: 0 1em 0 -5em;
  		padding: 0.5em;
  	}
  }

  .article {
  	@include breakpoint(tablet){
  		width: 80%;
  		float:none;
  		margin: 1em auto 0;
  	}
  }

  .articles {
  	.related-lists {
  		width: 45%;
  	}
  }