.search-home {
  margin: 1em auto;
  width:100%;
  background-color: #f2ece5;
  @include breakpoint(tablet){width: 80%;}
  .search {
    float: left;
    text-align: center;
    width: 100%;
    margin:0 auto;
    float:none;
    position: relative;
    form {
      width: 100%;
      @include breakpoint(tablet) {
      width:75%;
      margin:0 auto;}
      input {
        width:75%;
      }
      button {
        width:17%;
        background-color:$red;
        span, span[data-icon]::before {color: $pale;}
      }
    }
  }
  h2{
  text-align: center;
  font-size: 2.3em;
  margin: 0;}
  small {float: left;
display: block;
padding: 1em;}
}

// Funnelback Search Page

.fb-search {
  width: 100%;

  form input[type="search"] { margin-bottom: $padding;}
  button {  width: 100%; 
            box-shadow: 1px 1px 3px $dark;
            background-color: $red;
            border-radius: 0;
            border:none;
    &:after {content: "";}
    &:hover { color: $pale;
              box-shadow: 1px 1px 1px $dark;}
  }
}

.fb-results {
  padding:0;
  list-style-type: none;
  li {
        float:left;
        width:100%;
        margin-bottom:$margin;
        overflow:hidden;
      }
  h3 {
        margin-bottom: 0.5em;
        text-align: left;
  }
  p {
      margin: 0;
    }
  cite {
      color: $red;
  }
}


.fb-text-miner {
    font-family: $museo;
    font-style: italic;
    font-size:1.2em;
    border-bottom: 2px solid $red;
    margin-bottom: $margin;
    padding-bottom: $margin;
}

.pagination {
        .fb-current-result-page, a {
            padding: 0.5em 0.75em;
            display: inline-block;
            margin-bottom: 1em;
        }
        a {
            background-color: $red; 
            color:$pale;
            border: 1px solid $red;
            @include transition(all .3s ease);
            &:hover, &:active {
              background-color: $pale;
              color: $red;
            }
          }
}

// Header Search stuff

.input-button-light {
    float:left;
    background-color:$pale;
    @include rounded(top-right, 5px);
    @include rounded(bottom-right, 5px);
    height: 2em;
    border:0px;
  }



